<!DOCTYPE html>
<html>
<head>
	<title>css transforms</title>
<body>
    <style>
    	div
    	{
    		background-color:yellow;
    		color: red;
    		text-align: center;
    		width: 80px;
    		padding:40px;


            transition-property: padding,background-color;
            transition-duration: 1s,1s;
            transition-timing-function: linear,linear;
            transition-delay: 0s,0s;
             }
    div:hover
    {
    	cursor: pointer;
    	width:60px;
    	background-color: cyan;
    }
   </style>
</head>
<body>
	<div>transform</div>
</body>
</html>