<!DOCTYPE html>
<html>
<head>
	<title>css styles</title>
<style>
	body
	{
       background-color:hotpink ;
	}
	.a
	{
		color:red;
	}
	.b
	{
		color:darkcyan;
	}
	.c
	{
		color:darkmagenta;
	}
	.d
	{
		color:green;
	}
	.e
	{
		color:blue;
	}
	.f
	{
		color:purple;
	}
	.g
	{
		color:orange;
	}
</style>
</head>
<body>
	<h1>family members</h1>

	<h1 class="a">chintu</h1>
	<h1 class="b">tejuuu</h1>
	<h1 class="c">nandhu</h1>
	<h1 class=d>ravali</h1>
	<h1 class=e>ammuuu</h1>
	<h1 class="f">panduu</h1>
	<h1 class="g">chandu</h1>


	<h1>relationships</h1>

	<h1 class="a">bava</h1>
	<h1 class="b">sis-in-law 1</h1>
    <h1 class="c">sis-in-law 2</h1>
    <h1 class="d">sis-in-law 3</h1>
    <h1 class="e">me</h1>
    <h1 class="f">sister</h1>
    <h1 class="g">brother</h1>
</body>
</html>